<h4> Liste des salles et de leur disponibillité</h4>

<button (click)="getRooms()" class="btn btn-primary ">Salles</button>

<hr>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>identifiant</th>
      <th>statut</th>
      <th>date dernier statut</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let room of rooms | async">
      <td>{{room.name}}</td>
      <td [ngStyle]="{color: room.availability === true ? 'red' : 'green'}">{{room.availability === true ? 'Occupé' : 'Libre'}}</td>
      <td>date</td>
    </tr>
  </tbody>
</table>
